body {
    background-color: black;
    color: white;
    font-family: Anton;
}

.hero {
    background-image: url('images/Hero\ Background\ Design.png');
}

.navbar {
    padding: 10px;
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    flex: 1;
    font-family: bungee;
    align-items: center;
    display: flex;
}

.mainnav {
    flex-flow: horizontal;
    width: 380px;
    height: 60px;
    align-items: center;
    color: #4AF071;
    display: flex;
    margin-left: 150px;
    margin-right: 150px;
    font-size: 20px;
}
.mainnav a {
    text-decoration: underline;
    text-underline-offset: 8px;
    color: #4AF071;
    padding: 14px 16px;
    font-size: 16px;
}
.mainnav a:hover {
    color: #ffd645;
    transition: 0.3s;
    border-radius: 12px;
}

#contact-btn {
    border-radius: 24px;
    border: 2px solid #4AF071;
    box-shadow: #4AF071 0px 0px 10px;
    background-color: black;
    color: white;
    padding-top: 15.5px 32px;
    padding-bottom: 15.5px 32px;
    width: 173px;
    height: 49px;
    font-size: 1;
    font-family: anton;
    cursor: pointer;
}
#contact-btn:hover {
    background-color: #4AF071;
    color: black;
    transition: 0.3s;
}


.hero-content {
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
}

#hero-main1 {
    text-align: center;
    font-size: 64px;
}

#hero-main2 {
    text-align: center;
    font-size: 64px;
}